<p id="notice"><%= notice %></p>

<p>
  <strong>Ssid:</strong>
  <%= @wifiset.ssid %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @wifiset.pass %>
</p>

<%= link_to 'Edit', edit_wifiset_path(@wifiset) %> |
<%= link_to 'Back', wifisets_path %>
