
 <div class="reg-block-monitor">
    <div class="reg-block-header">
      <h2>모니터링</h2>
      <h4> 오티피 사용</h4>
      <h4> OTP 랜덤 / 쉬운 단어 사용 </h4>
    </div>


  <div class="table-responsive"></div>
    <table class="table table-bordered">

      <tr class="info">
        <th>Mac</th>
        <th>IP  </th>
        <th>기기명 </th>
        <th>RX</th>
        <th>TX</th>
        <th>들어온 시간</th>
        <th>나간 시간</th>
	<th>마지막 접속 시간</th>
	<th>차단하기</th>
      </tr>

      <% @info_device_list.each do |info| %>
	  
          <% t = ((Time.now).to_i - info['connected'].to_i) %>
          <% mm, ss = t.divmod(60) %>
          <% hh, mm = mm.divmod(60) %>
          <% dd, hh = hh.divmod(24) %>
          <% flag = info['flag'] %>
          <% check = info['ban_check'] %>
          <% if flag == '2' %>
                  <tr class = 'bg-danger'>
                    <td> <%= info['MAC'] %></td>
                    <td> <%= info['IP'] %></td>
                    <td> <%= info['HOST_NAME'] %></td>
                    <td> <%= ((info['rx'].to_i)/1024).to_s +  'Kb' %></td>
                    <td> <%= ((info['tx'].to_i)/1024).to_s +  'Kb' %></td>
                    <td> <%= DateTime.strptime(info['connected'],'%s') %></td>
                    <td> <%= DateTime.strptime(info['disconnected'], '%s' %></td>
                    <td><%= "%d 일, %d 시, %d 분전" % [dd, hh, mm] %> </td>
		    <% if ban_check == '0' %> 
                        <td><%= link_to '차단해체', util_monitoring_ban_path(MAC: info['MAC'], ban_check: check), :class => "btn btn-u-black" %></td>
                    <% elsif ban_check == '1' %>
                        <td><%= link_to '차단하기', util_monitoring_ban_path(MAC: info['MAC'], ban_check: check), :class => "btn btn-danger" %></td>
                    <% end %>
                  </tr>
          <% elsif flag == '1' %>
                  <tr class = 'bg-color-green'>
                    <td> <%= info['MAC'] %></td>
                    <td> <%= info['IP'] %></td>
                    <td> <%= info['HOST_NAME'] %></td>
                    <td> <%= ((info['rx'].to_i)/1024).to_s +  'Kb' %></td>
                    <td> <%= ((info['tx'].to_i)/1024).to_s +  'Kb' %></td>
                    <td> <%= DateTime.strptime(info['connected'],'%s') %></td>
                    <td> <%= DateTime.strptime(info['disconnected'], '%s' %></td>
                    <td><%= "%d 일, %d 시, %d 분전" % [dd, hh, mm] %> </td>
	  	    <% if ban_check == '0' %>
                        <td><%= link_to '차단해체', util_monitoring_ban_path(MAC: info['MAC'], ban_check: check), :class => "btn btn-u-black" %></td>
                    <% elsif ban_check == '1' %>
                        <td><%= link_to '차단하기', util_monitoring_ban_path(MAC: info['MAC'], ban_check: check), :class => "btn btn-danger" %></td>
                    <% end %>
                  </tr>
          <% else %>
                  <tr class = 'bg-color-white'>
                    <td> <%= info['MAC'] %></td>
                    <td> <%= info['IP'] %></td>
                    <td> <%= info['HOST_NAME'] %></td>
                    <td> <%= ((info['rx'].to_i)/1024).to_s +  'Kb' %></td>
                    <td> <%= ((info['tx'].to_i)/1024).to_s +  'Kb' %></td>
                    <td> <%= DateTime.strptime(info['connected'],'%s') %></td>
                    <td> <%= DateTime.strptime(info['disconnected'], '%s' %></td>
                    <td><%= "%d 일, %d 시, %d 분전" % [dd, hh, mm] %> </td>	
		    <% if ban_check == '0' %>
                        <td><%= link_to '차단해체', util_monitoring_ban_path(MAC: info['MAC'], ban_check: check), :class => "btn btn-u-black" %></td>
                    <% elsif ban_check == '1' %>
                        <td><%= link_to '차단하기', util_monitoring_ban_path(MAC: info['MAC'], ban_check: check), :class => "btn btn-danger" %></td>
                    <% end %>

                  </tr>
          <% end %>
      <% end %>
	
    </table>
   </div>
  </div>



