<%= form_for(@wifiset) do |f| %>
  <% if @wifiset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wifiset.errors.count, "error") %> prohibited this wifiset from being saved:</h2>

      <ul>
      <% @wifiset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ssid %><br>
    <%= f.text_field :ssid %>
  </div>
  <div class="field">
    <%= f.label :pass %><br>
    <%= f.text_field :pass %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
